<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <style>
      #cart{
        display: flex;
        justify-content: end;
      }
    </style>
</head>
<body>
  <%- include('_user_header.ejs')%>
    <div class="container">
        <center><h1>Our Products</h1></center>
        <div id="cart">
          <a href="/cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;
          <span id="cartnumber"><%= cart.length%></span>
        </div>
        <div class="row">
          <%
            products.forEach(obj=>{
              %>
              <div class="col-md-4">
                <div class="card">
                  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="/productImages/<%= obj.productImage%>" class="" height="300" style="width: 100%;" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= obj.productName%></h5>
                    <p><b><%= obj.productPrice%> Rs.</b></p>
                    <p class="card-text"><%= obj.productDescription%></p>
                    <a href="/cart/<%= obj._id%>" class="btn btn-primary">Add to cart</a>
                  </div>
              </div>
              </div>
              <%
            })
          %>
        </div>
    </div>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>